/* Background */
.auth-bg {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #3b82f6, #9333ea);
}

.auth-card {
  width: 380px;
  background: white;
  padding: 30px;
  border-radius: 12px;
}

.role-btn {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background: #f8f9fa;
  cursor: pointer;
  font-weight: 500;
}

.role-btn.active {
  background: #2563eb;
  color: white;
  border-color: #2563eb;
}

.link {
  color: #2563eb;
  cursor: pointer;
  font-weight: 500;
}


/* Title */
.auth-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.auth-subtitle {
  text-align: center;
  color: #6c757d;
  margin-bottom: 20px;
}

/* Buttons */
.btn-primary {
  background: linear-gradient(to right, #4facfe, #00f2fe);
  border: none;
}

.btn-primary:hover {
  opacity: 0.9;
}

/* Input */
.form-control,
.form-select {
  border-radius: 8px;
}

/* Footer text */
.auth-footer {
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  color: #0d6efd;
}

.auth-bg {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #3b82f6, #9333ea);
}

.auth-card {
  width: 380px;
  background: white;
  padding: 30px;
  border-radius: 12px;
}

.link {
  color: #2563eb;
  cursor: pointer;
  font-weight: 500;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  padding-right: 40px;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}
